<div class="text-center">
  <h2 data-id="{{id}}" id="title">{{title}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>


</div>

<div>
  <h2>Coments:¨</h2>
  {{#each comments}}
  <div>
    <h3>{{commentText}}</h3>
    <h5>{{date_created}}</h5>
    </div>
  {{/each}}
</div>

  <p>
    <textarea
      name=""
      id="commentVal"
      cols="30"
      rows="10"
      placeholder="Leave a comment here..."
    ></textarea>
    <button class="btn btn-primary commentBtn">Leave Comment!</button>
  </p>




<script src="/js/comment.js"></script>